mixin _picture (name)
    picture
        source(srcset=require(`../img/${name}.webp`) + " 1x, " + require(`../img/${name}x2.webp`) + " 2x")
        img(src=require(`../img/${name}.png`) srcset=require(`../img/${name}.png`) + " 1x, " +require(`../img/${name}x2.png`) + " 2x")